@import "tailwindcss";

@theme {
    --color-black: oklch(0.33 0.0017 106.49);
    --color-red: oklch(0.57 0.233764 28.0921);
    --color-white: oklch(1 0 0);
    --color-blue: oklch(0.61 0.1567 253.24);

    --font-title: 700 1.25rem/1.4 Roboto, sans-serif;
    --font-body: 400 1rem/1.5 Roboto, sans-serif;
    --font-special: 300 1rem/1.5 Roboto, sans-serif;
}

body {
    background-color: var(--color-white);
    font: var(--font-body);
}

h1, h2, h3, .font-title {
    font: var(--font-title);
}

.font-special {
    font: var(--font-special);
}